# how to make data set by pandas and numpy

In [4]:
import pandas as pd
import numpy as np

df=pd.DataFrame({'A col':(1, 2, 4, 6),'B  col':(1, 4, 73, 8)})
df.head()

   A col  B  col
0      1       1
1      2       4
2      4      73
3      6       8

In [7]:
df=pd.DataFrame({'leafe area':(465, 765, 243, 123),'Final wight':(13.482, 13.354, 13.344, 13.756)})
df.head()

   leafe area  Final wight
0         465       13.482
1         765       13.354
2         243       13.344
3         123       13.756

In [9]:
arr=np.array([(1, 3, 6, 9),(2, 6, 3, 8),(5, 3, 2, 6)])
pd.DataFrame(arr)

   0  1  2  3
0  1  3  6  9
1  2  6  3  8
2  5  3  2  6

In [10]:
arr=np.array([(2,3,4),(5,4,2),(8,6,4)])
pd.DataFrame(arr)

   0  1  2
0  2  3  4
1  5  4  2
2  8  6  4

In [19]:
pd.DataFrame(np.random.rand(8,6), columns=list('ABCDEF'))

          A         B         C         D         E         F
0  0.809342  0.163910  0.960485  0.895937  0.021840  0.403050
1  0.978941  0.214051  0.977678  0.652475  0.249971  0.339668
2  0.143887  0.506838  0.908420  0.692188  0.440391  0.035531
3  0.445451  0.871198  0.071865  0.129866  0.156560  0.131671
4  0.090643  0.958139  0.508483  0.615264  0.082830  0.574388
5  0.697401  0.181401  0.633018  0.047077  0.455392  0.898145
6  0.693124  0.674554  0.135642  0.782255  0.973753  0.657628
7  0.709969  0.088456  0.171558  0.718456  0.584150  0.106445

In [20]:
pd.DataFrame(np.random.rand(4,5), columns=list('ABCDE'))

          A         B         C         D         E
0  0.447988  0.355414  0.902617  0.026967  0.628553
1  0.574581  0.143841  0.064005  0.923156  0.274834
2  0.437280  0.922803  0.903484  0.122826  0.196897
3  0.561841  0.623078  0.179218  0.874943  0.293914