# how to make data set by pandas and numpy

In [4]:
import pandas as pd
import numpy as np

df=pd.DataFrame({'A col':(1, 2, 4, 6),'B  col':(1, 4, 73, 8)})
df.head()

   A col  B  col
0      1       1
1      2       4
2      4      73
3      6       8

In [7]:
df=pd.DataFrame({'leafe area':(465, 765, 243, 123),'Final wight':(13.482, 13.354, 13.344, 13.756)})
df.head()

   leafe area  Final wight
0         465       13.482
1         765       13.354
2         243       13.344
3         123       13.756

In [9]:
arr=np.array([(1, 3, 6, 9),(2, 6, 3, 8),(5, 3, 2, 6)])
pd.DataFrame(arr)

   0  1  2  3
0  1  3  6  9
1  2  6  3  8
2  5  3  2  6

In [10]:
arr=np.array([(2,3,4),(5,4,2),(8,6,4)])
pd.DataFrame(arr)

   0  1  2
0  2  3  4
1  5  4  2
2  8  6  4

In [19]:
pd.DataFrame(np.random.rand(8,6), columns=list('ABCDEF'))

          A         B         C         D         E         F
0  0.809342  0.163910  0.960485  0.895937  0.021840  0.403050
1  0.978941  0.214051  0.977678  0.652475  0.249971  0.339668
2  0.143887  0.506838  0.908420  0.692188  0.440391  0.035531
3  0.445451  0.871198  0.071865  0.129866  0.156560  0.131671
4  0.090643  0.958139  0.508483  0.615264  0.082830  0.574388
5  0.697401  0.181401  0.633018  0.047077  0.455392  0.898145
6  0.693124  0.674554  0.135642  0.782255  0.973753  0.657628
7  0.709969  0.088456  0.171558  0.718456  0.584150  0.106445

In [20]:
pd.DataFrame(np.random.rand(4,5), columns=list('ABCDE'))

          A         B         C         D         E
0  0.447988  0.355414  0.902617  0.026967  0.628553
1  0.574581  0.143841  0.064005  0.923156  0.274834
2  0.437280  0.922803  0.903484  0.122826  0.196897
3  0.561841  0.623078  0.179218  0.874943  0.293914

In [ ]:
import pandas as pd

:

In [29]:
import pandas as pd
pd.__version__

'2.2.1'

In [3]:
pd.show_versions

In [6]:
df=pd.DataFrame({'A':(1,2,3,3,4),'B':(6,4,6,8,6)})

In [7]:
df.head

<bound method NDFrame.head of    A  B
0  1  6
1  2  4
2  3  6
3  3  8
4  4  6>

In [30]:
import numpy as np
arr=np.array([[1,2,3,4,5],[23,4,6,7,5],[4,5,6,7,8]])
pd.DataFrame(arr)

    0  1  2  3  4
0   1  2  3  4  5
1  23  4  6  7  5
2   4  5  6  7  8

In [31]:
pd.DataFrame(np.random.rand(6,3))

          0         1         2
0  0.287464  0.050923  0.852010
1  0.646137  0.019156  0.465369
2  0.331250  0.346401  0.777027
3  0.124177  0.542524  0.487775
4  0.455449  0.808436  0.750327
5  0.672801  0.954219  0.815165

In [16]:
pd.DataFrame(np.random.rand(6,3), columns=list('ABC'))

          A         B         C
0  0.935139  0.713509  0.981455
1  0.862912  0.477814  0.048123
2  0.738272  0.173388  0.656985
3  0.333628  0.045373  0.476185
4  0.177342  0.517525  0.526095
5  0.132931  0.291606  0.730820

In [20]:
pd.DataFrame(np.random.rand(3,3), columns=list('AKL'))

          A         K         L
0  0.626689  0.546427  0.609447
1  0.935620  0.667952  0.834918
2  0.363093  0.534510  0.942730

## HPW TO rename colums of df

In [34]:
df=pd.DataFrame(np.random.rand(6,3))
df.columns=list('TOJ')
df

          T         O         J
0  0.645984  0.232865  0.584555
1  0.001455  0.111021  0.086771
2  0.943440  0.139539  0.622471
3  0.216813  0.821925  0.742617
4  0.528718  0.154842  0.883986
5  0.605014  0.671747  0.256964